
@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
    scroll-behavior: smooth;
}

.overlay
{
    position: relative;
}

.overlay::before
{
    content: '';

    background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.15) 10%,
    transparent 50%
    );

    position: absolute;

    inset: 0;
}
/*
.overlay > * {
    position: relative;
    z-index: 1;
} */

.masthead::after
{
    content: '';

    height: 0;
    padding-top: 100%;

    display: block;
}

@media screen(sm)
{
    .masthead::after
    {
        padding-top: calc(545 / 1250 * 100%);
    }
}

.fi-fo-field-wrp-label span
{
    @apply text-base;
    @apply text-slate;
}
